{% extends '::base.html.twig' %}

{% block title %}{{ entity.name }}{% endblock %}
{% block slider %}{% endblock %}
{% block body %}

    <div class="main">
        <div class="container">
            <!-- BEGIN SIDEBAR & CONTENT -->
            <div class="row margin-bottom-40">
                <!-- BEGIN CONTENT -->
                <div class="col-md-12 col-sm-12">
                    <h1>{{ entity.name }}</h1>

                    <div class="content-page">
                        <div class="row">
                            <div class="col-md-3 col-sm-4 gallery-item">
                                <a data-rel="fancybox" href="{{ asset('assets/img/img1.jpg') }}"
                                   class="fancybox fancybox-button">

                                    <img alt="" src="{{ asset('assets/img/img1.jpg') }}" class="img-responsive">
                                </a>
                            </div>

                        </div>

                        {#{% for a in entity.gallery %}#}
                            {#{{ a.}}#}
                        {#{% endfor %}#}
                        <div class="row">
                            <!-- BEGIN LEFT SIDEBAR -->
                            <div class="col-md-12 col-sm-12 blog-item">
                                <br/>

                                <p>{{ entity.description }}</p>
                                <ul class="blog-info">
                                    <li><i class="fa fa-map-marker"></i>{{ entity.location }}</li>
                                    <li><i class="fa fa-comments"></i> {{ entity.feedback.count }}</li>

                                    {% for i in 1..entity.category %}
                                        <li><i class="fa fa-star-o"></i></li>
                                    {% endfor %}

                                    <li><i class="fa fa-money"></i> ${{ entity.price }}</li>
                                </ul>

                                <h2>Comments</h2>

                                <div class="comments">


                                    {% for feedback in feedbacks %}
                                        <div class="media">
                                            <div class="media-body">
                                                <h4 class="media-heading">{{ feedback.username }} said: <span>5 hours ago / <a
                                                                href="javascript:;">Reply</a></span></h4>

                                                <p>{{ feedback.body }} </p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <!--end media-->
                                    <!--end media-->
                                </div>

                                <div class="post-comment padding-top-40">
                                    <h3>Leave a Comment</h3>

                                    <form role="form">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input class="form-control" type="text">
                                        </div>

                                        <div class="form-group">
                                            <label>Email <span class="color-red">*</span></label>
                                            <input class="form-control" type="text">
                                        </div>

                                        <div class="form-group">
                                            <label>Message</label>
                                            <textarea class="form-control" rows="8"></textarea>
                                        </div>
                                        <p>
                                            <button class="btn btn-primary" type="submit">Post a Comment</button>
                                        </p>
                                    </form>
                                </div>
                            </div>
                            <!-- END LEFT SIDEBAR -->
                        </div>
                    </div>
                </div>
                <!-- END CONTENT -->
            </div>
            <!-- END SIDEBAR & CONTENT -->
        </div>
    </div>

    {#<h1>Hotel</h1>#}

    {#<table class="record_properties">#}
    {#<tbody>#}
    {#<tr>#}
    {#<th>Id</th>#}
    {#<td>{{ entity.id }}</td>#}
    {#</tr>#}
    {#<tr>#}
    {#<th>Name</th>#}
    {#<td>{{ entity.name }}</td>#}
    {#</tr>#}
    {#<tr>#}
    {#<th>Location</th>#}
    {#<td>{{ entity.location }}</td>#}
    {#</tr>#}
    {#<tr>#}
    {#<th>Price</th>#}
    {#<td>{{ entity.price }}</td>#}
    {#</tr>#}
    {#<tr>#}
    {#<th>Category</th>#}
    {#<td>{{ entity.category }}</td>#}
    {#</tr>#}
    {#</tbody>#}
    {#</table>#}

    {#<ul class="record_actions">#}
    {#<li>#}
    {#<a href="{{ path('hotel') }}">#}
    {#Back to the list#}
    {#</a>#}
    {#</li>#}
    {#</ul>#}

    {#{% block javascripts %}#}
    {#{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'foo'} %}#}
    {#{% endblock %}#}

{% endblock %}
